body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #ff0000;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

footer {
    background-color: #002aff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-media a {
    color: rgb(255, 0, 0);
    margin: 0 0.5em;
    text-decoration: none;
}
